<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <th:block th:include="include :: header('百度ECharts')" />
    <link href="../static/css/main.css" th:href="@{/css/main.css}" rel="stylesheet"/>
    <link rel="stylesheet" th:href="@{/static/css/main.css}">

</head>
<body class="gray-bg">
<div class="row  border-bottom white-bg dashboard-header">
    <div class="col-sm-12">
        <p>图书管理系统旨在打造图书类目、图书库存、图书进销一体的集中式管理平台
        </p>
    </div>

</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <img src="/img/book.jpg" width="100%" height="100%">

</div>
<th:block th:include="include :: footer" />
<th:block th:include="include :: echarts-js" />
<script type="text/javascript"></script>
<script src="../static/ruoyi/main.js" th:src="@{/ruoyi/main.js}"></script>
<script th:src="@{/static/ruoyi/main.js}"></script>
</body>
</html>